@charset "utf-8";

@font-face {
  font-family: "Codec Cold Regular";
  font-style: normal;
  font-weight: normal;
  src: url("assets/Codec-Cold-Regular-trial.woff") format("woff");
}

@font-face {
  font-family: "Codec Cold Bold";
  font-style: normal;
  font-weight: bold;
  src: url("assets/Codec-Cold-Bold-trial.woff") format("woff");
}
